
FtcRobotController/build/tmp/compileDebugJavaWithJavac/previous-compilation-data.bin
FtcRobotController/build/outputs/logs/manifest-merger-debug-report.txt
FtcRobotController/build/intermediates/runtime_library_classes_dir/debug/org/firstinspires/ftc/robotcontroller/internal/FtcRobotControllerActivity.class
FtcRobotController/build/intermediates/runtime_library_classes_dir/debug/com/qualcomm/ftcrobotcontroller/BuildConfig.class
FtcRobotController/build/intermediates/manifest_merge_blame_file/debug/manifest-merger-blame-debug-report.txt
FtcRobotController/build/intermediates/javac/debug/classes/org/firstinspires/ftc/robotcontroller/internal/FtcRobotControllerActivity.class
FtcRobotController/build/intermediates/javac/debug/classes/com/qualcomm/ftcrobotcontroller/BuildConfig.class
FtcRobotController/build/intermediates/incremental/packageDebugAssets/merger.xml
FtcRobotController/build/intermediates/incremental/mergeDebugShaders/merger.xml
FtcRobotController/build/intermediates/incremental/mergeDebugJniLibFolders/merger.xml
FtcRobotController/build/intermediates/incremental/debug/packageDebugResources/merger.xml
FtcRobotController/build/intermediates/incremental/debug/packageDebugResources/compile-file-map.properties
FtcRobotController/build/intermediates/compiled_local_resources/debug/out/xml_device_filter.xml.flat
FtcRobotController/build/intermediates/compiled_local_resources/debug/out/xml_app_settings.xml.flat
FtcRobotController/build/intermediates/compiled_local_resources/debug/out/raw_silver.wav.flat
FtcRobotController/build/intermediates/compiled_local_resources/debug/out/raw_gold.wav.flat
FtcRobotController/build/intermediates/compiled_local_resources/debug/out/menu_ftc_robot_controller.xml.flat
FtcRobotController/build/intermediates/compiled_local_resources/debug/out/layout_activity_ftc_controller.xml.flat
FtcRobotController/build/intermediates/compiled_local_resources/debug/out/drawable-xxhdpi-v4_ic_launcher.png.flat
FtcRobotController/build/intermediates/compiled_local_resources/debug/out/drawable-xhdpi-v4_icon_robotcontroller.png.flat
FtcRobotController/build/intermediates/compiled_local_resources/debug/out/drawable-xhdpi-v4_icon_menu.png.flat
FtcRobotController/build/intermediates/compiled_local_resources/debug/out/drawable-xhdpi-v4_ic_launcher.png.flat
FtcRobotController/build/intermediates/compiled_local_resources/debug/out/drawable-mdpi-v4_ic_launcher.png.flat
FtcRobotController/build/intermediates/compiled_local_resources/debug/out/drawable-hdpi-v4_ic_launcher.png.flat
FtcRobotController/build/intermediates/compile_library_classes_jar/debug/classes.jar
FtcRobotController/build/generated/source/buildConfig/debug/com/qualcomm/ftcrobotcontroller/BuildConfig.java
FtcRobotController/build/.transforms/62d707646dee670261978bb3f2a506c8/transformed/desugar_graph.bin
FtcRobotController/build/.transforms/62d707646dee670261978bb3f2a506c8/transformed/debug/org/firstinspires/ftc/robotcontroller/internal/PermissionValidatorWrapper.dex
FtcRobotController/build/.transforms/62d707646dee670261978bb3f2a506c8/transformed/debug/org/firstinspires/ftc/robotcontroller/internal/PermissionValidatorWrapper$1.dex
FtcRobotController/build/.transforms/62d707646dee670261978bb3f2a506c8/transformed/debug/org/firstinspires/ftc/robotcontroller/internal/FtcRobotControllerActivity.dex
FtcRobotController/build/.transforms/62d707646dee670261978bb3f2a506c8/transformed/debug/org/firstinspires/ftc/robotcontroller/internal/FtcRobotControllerActivity$SharedPreferencesListener.dex
FtcRobotController/build/.transforms/62d707646dee670261978bb3f2a506c8/transformed/debug/org/firstinspires/ftc/robotcontroller/internal/FtcRobotControllerActivity$RobotRestarter.dex
FtcRobotController/build/.transforms/62d707646dee670261978bb3f2a506c8/transformed/debug/org/firstinspires/ftc/robotcontroller/internal/FtcRobotControllerActivity$8.dex
FtcRobotController/build/.transforms/62d707646dee670261978bb3f2a506c8/transformed/debug/org/firstinspires/ftc/robotcontroller/internal/FtcRobotControllerActivity$7.dex
FtcRobotController/build/.transforms/62d707646dee670261978bb3f2a506c8/transformed/debug/org/firstinspires/ftc/robotcontroller/internal/FtcRobotControllerActivity$6.dex
FtcRobotController/build/.transforms/62d707646dee670261978bb3f2a506c8/transformed/debug/org/firstinspires/ftc/robotcontroller/internal/FtcRobotControllerActivity$5.dex
FtcRobotController/build/.transforms/62d707646dee670261978bb3f2a506c8/transformed/debug/org/firstinspires/ftc/robotcontroller/internal/FtcRobotControllerActivity$4.dex
FtcRobotController/build/.transforms/62d707646dee670261978bb3f2a506c8/transformed/debug/org/firstinspires/ftc/robotcontroller/internal/FtcRobotControllerActivity$3.dex
FtcRobotController/build/.transforms/62d707646dee670261978bb3f2a506c8/transformed/debug/org/firstinspires/ftc/robotcontroller/internal/FtcRobotControllerActivity$2.dex
FtcRobotController/build/.transforms/62d707646dee670261978bb3f2a506c8/transformed/debug/org/firstinspires/ftc/robotcontroller/internal/FtcRobotControllerActivity$2$1.dex
FtcRobotController/build/.transforms/62d707646dee670261978bb3f2a506c8/transformed/debug/org/firstinspires/ftc/robotcontroller/internal/FtcRobotControllerActivity$1.dex
FtcRobotController/build/.transforms/62d707646dee670261978bb3f2a506c8/transformed/debug/org/firstinspires/ftc/robotcontroller/internal/FtcOpModeRegister.dex
FtcRobotController/build/.transforms/62d707646dee670261978bb3f2a506c8/transformed/debug/org/firstinspires/ftc/robotcontroller/external/samples/SensorREVColorDistance.dex
FtcRobotController/build/.transforms/62d707646dee670261978bb3f2a506c8/transformed/debug/org/firstinspires/ftc/robotcontroller/external/samples/SensorREVColorDistance$2.dex
FtcRobotController/build/.transforms/62d707646dee670261978bb3f2a506c8/transformed/debug/org/firstinspires/ftc/robotcontroller/external/samples/SensorREVColorDistance$1.dex
FtcRobotController/build/.transforms/62d707646dee670261978bb3f2a506c8/transformed/debug/org/firstinspires/ftc/robotcontroller/external/samples/SensorREV2mDistance.dex
FtcRobotController/build/.transforms/62d707646dee670261978bb3f2a506c8/transformed/debug/org/firstinspires/ftc/robotcontroller/external/samples/SensorMRRangeSensor.dex
FtcRobotController/build/.transforms/62d707646dee670261978bb3f2a506c8/transformed/debug/org/firstinspires/ftc/robotcontroller/external/samples/SensorMROpticalDistance.dex
FtcRobotController/build/.transforms/62d707646dee670261978bb3f2a506c8/transformed/debug/org/firstinspires/ftc/robotcontroller/external/samples/SensorMRIrSeeker.dex
FtcRobotController/build/.transforms/62d707646dee670261978bb3f2a506c8/transformed/debug/org/firstinspires/ftc/robotcontroller/external/samples/SensorMRGyro.dex
FtcRobotController/build/.transforms/62d707646dee670261978bb3f2a506c8/transformed/debug/org/firstinspires/ftc/robotcontroller/external/samples/SensorMRCompass.dex
FtcRobotController/build/.transforms/62d707646dee670261978bb3f2a506c8/transformed/debug/org/firstinspires/ftc/robotcontroller/external/samples/SensorMRColor.dex
FtcRobotController/build/.transforms/62d707646dee670261978bb3f2a506c8/transformed/debug/org/firstinspires/ftc/robotcontroller/external/samples/SensorMRColor$2.dex
FtcRobotController/build/.transforms/62d707646dee670261978bb3f2a506c8/transformed/debug/org/firstinspires/ftc/robotcontroller/external/samples/SensorMRColor$1.dex
FtcRobotController/build/.transforms/62d707646dee670261978bb3f2a506c8/transformed/debug/org/firstinspires/ftc/robotcontroller/external/samples/SensorKLNavxMicro.dex
FtcRobotController/build/.transforms/62d707646dee670261978bb3f2a506c8/transformed/debug/org/firstinspires/ftc/robotcontroller/external/samples/SensorIMUOrthogonal.dex
FtcRobotController/build/.transforms/62d707646dee670261978bb3f2a506c8/transformed/debug/org/firstinspires/ftc/robotcontroller/external/samples/SensorIMUNonOrthogonal.dex
FtcRobotController/build/.transforms/62d707646dee670261978bb3f2a506c8/transformed/debug/org/firstinspires/ftc/robotcontroller/external/samples/SensorDigitalTouch.dex
FtcRobotController/build/.transforms/62d707646dee670261978bb3f2a506c8/transformed/debug/org/firstinspires/ftc/robotcontroller/external/samples/SensorColor.dex
FtcRobotController/build/.transforms/62d707646dee670261978bb3f2a506c8/transformed/debug/org/firstinspires/ftc/robotcontroller/external/samples/SensorColor$2.dex
FtcRobotController/build/.transforms/62d707646dee670261978bb3f2a506c8/transformed/debug/org/firstinspires/ftc/robotcontroller/external/samples/SensorColor$1.dex
FtcRobotController/build/.transforms/62d707646dee670261978bb3f2a506c8/transformed/debug/org/firstinspires/ftc/robotcontroller/external/samples/SensorBNO055IMUCalibration.dex
FtcRobotController/build/.transforms/62d707646dee670261978bb3f2a506c8/transformed/debug/org/firstinspires/ftc/robotcontroller/external/samples/SensorBNO055IMUCalibration$6.dex
FtcRobotController/build/.transforms/62d707646dee670261978bb3f2a506c8/transformed/debug/org/firstinspires/ftc/robotcontroller/external/samples/SensorBNO055IMUCalibration$5.dex
FtcRobotController/build/.transforms/62d707646dee670261978bb3f2a506c8/transformed/debug/org/firstinspires/ftc/robotcontroller/external/samples/SensorBNO055IMUCalibration$4.dex
FtcRobotController/build/.transforms/62d707646dee670261978bb3f2a506c8/transformed/debug/org/firstinspires/ftc/robotcontroller/external/samples/SensorBNO055IMUCalibration$3.dex
FtcRobotController/build/.transforms/62d707646dee670261978bb3f2a506c8/transformed/debug/org/firstinspires/ftc/robotcontroller/external/samples/SensorBNO055IMUCalibration$2.dex
FtcRobotController/build/.transforms/62d707646dee670261978bb3f2a506c8/transformed/debug/org/firstinspires/ftc/robotcontroller/external/samples/SensorBNO055IMUCalibration$1.dex
FtcRobotController/build/.transforms/62d707646dee670261978bb3f2a506c8/transformed/debug/org/firstinspires/ftc/robotcontroller/external/samples/SensorBNO055IMU.dex
FtcRobotController/build/.transforms/62d707646dee670261978bb3f2a506c8/transformed/debug/org/firstinspires/ftc/robotcontroller/external/samples/SensorBNO055IMU$8.dex
FtcRobotController/build/.transforms/62d707646dee670261978bb3f2a506c8/transformed/debug/org/firstinspires/ftc/robotcontroller/external/samples/SensorBNO055IMU$7.dex
FtcRobotController/build/.transforms/62d707646dee670261978bb3f2a506c8/transformed/debug/org/firstinspires/ftc/robotcontroller/external/samples/SensorBNO055IMU$6.dex
FtcRobotController/build/.transforms/62d707646dee670261978bb3f2a506c8/transformed/debug/org/firstinspires/ftc/robotcontroller/external/samples/SensorBNO055IMU$5.dex
FtcRobotController/build/.transforms/62d707646dee670261978bb3f2a506c8/transformed/debug/org/firstinspires/ftc/robotcontroller/external/samples/SensorBNO055IMU$4.dex
FtcRobotController/build/.transforms/62d707646dee670261978bb3f2a506c8/transformed/debug/org/firstinspires/ftc/robotcontroller/external/samples/SensorBNO055IMU$3.dex
FtcRobotController/build/.transforms/62d707646dee670261978bb3f2a506c8/transformed/debug/org/firstinspires/ftc/robotcontroller/external/samples/SensorBNO055IMU$2.dex
FtcRobotController/build/.transforms/62d707646dee670261978bb3f2a506c8/transformed/debug/org/firstinspires/ftc/robotcontroller/external/samples/SensorBNO055IMU$1.dex
FtcRobotController/build/.transforms/62d707646dee670261978bb3f2a506c8/transformed/debug/org/firstinspires/ftc/robotcontroller/external/samples/SampleRevBlinkinLedDriver.dex
FtcRobotController/build/.transforms/62d707646dee670261978bb3f2a506c8/transformed/debug/org/firstinspires/ftc/robotcontroller/external/samples/SampleRevBlinkinLedDriver$DisplayKind.dex
FtcRobotController/build/.transforms/62d707646dee670261978bb3f2a506c8/transformed/debug/org/firstinspires/ftc/robotcontroller/external/samples/RobotTeleopTank_Iterative.dex
FtcRobotController/build/.transforms/62d707646dee670261978bb3f2a506c8/transformed/debug/org/firstinspires/ftc/robotcontroller/external/samples/RobotTeleopPOV_Linear.dex
FtcRobotController/build/.transforms/62d707646dee670261978bb3f2a506c8/transformed/debug/org/firstinspires/ftc/robotcontroller/external/samples/RobotHardware.dex
FtcRobotController/build/.transforms/62d707646dee670261978bb3f2a506c8/transformed/debug/org/firstinspires/ftc/robotcontroller/external/samples/RobotAutoDriveToLine_Linear.dex
FtcRobotController/build/.transforms/62d707646dee670261978bb3f2a506c8/transformed/debug/org/firstinspires/ftc/robotcontroller/external/samples/RobotAutoDriveByTime_Linear.dex
FtcRobotController/build/.transforms/62d707646dee670261978bb3f2a506c8/transformed/debug/org/firstinspires/ftc/robotcontroller/external/samples/RobotAutoDriveByGyro_Linear.dex
FtcRobotController/build/.transforms/62d707646dee670261978bb3f2a506c8/transformed/debug/org/firstinspires/ftc/robotcontroller/external/samples/RobotAutoDriveByEncoder_Linear.dex
FtcRobotController/build/.transforms/62d707646dee670261978bb3f2a506c8/transformed/debug/org/firstinspires/ftc/robotcontroller/external/samples/ConceptVuMarkIdentificationWebcam.dex
FtcRobotController/build/.transforms/62d707646dee670261978bb3f2a506c8/transformed/debug/org/firstinspires/ftc/robotcontroller/external/samples/ConceptVuMarkIdentification.dex
FtcRobotController/build/.transforms/62d707646dee670261978bb3f2a506c8/transformed/debug/org/firstinspires/ftc/robotcontroller/external/samples/ConceptVuforiaSkyStoneNavigationWebcam.dex
FtcRobotController/build/.transforms/62d707646dee670261978bb3f2a506c8/transformed/debug/org/firstinspires/ftc/robotcontroller/external/samples/ConceptVuforiaSkyStoneNavigation.dex
FtcRobotController/build/.transforms/62d707646dee670261978bb3f2a506c8/transformed/debug/org/firstinspires/ftc/robotcontroller/external/samples/ConceptVuforiaFieldNavigationWebcam.dex
FtcRobotController/build/.transforms/62d707646dee670261978bb3f2a506c8/transformed/debug/org/firstinspires/ftc/robotcontroller/external/samples/ConceptVuforiaFieldNavigation.dex
FtcRobotController/build/.transforms/62d707646dee670261978bb3f2a506c8/transformed/debug/org/firstinspires/ftc/robotcontroller/external/samples/ConceptVuforiaDriveToTargetWebcam.dex
FtcRobotController/build/.transforms/62d707646dee670261978bb3f2a506c8/transformed/debug/org/firstinspires/ftc/robotcontroller/external/samples/ConceptTensorFlowObjectDetectionWebcam.dex
FtcRobotController/build/.transforms/62d707646dee670261978bb3f2a506c8/transformed/debug/org/firstinspires/ftc/robotcontroller/external/samples/ConceptTensorFlowObjectDetectionSwitchableCameras.dex
FtcRobotController/build/.transforms/62d707646dee670261978bb3f2a506c8/transformed/debug/org/firstinspires/ftc/robotcontroller/external/samples/ConceptTensorFlowObjectDetection.dex
FtcRobotController/build/.transforms/62d707646dee670261978bb3f2a506c8/transformed/debug/org/firstinspires/ftc/robotcontroller/external/samples/ConceptTelemetry.dex
FtcRobotController/build/.transforms/62d707646dee670261978bb3f2a506c8/transformed/debug/org/firstinspires/ftc/robotcontroller/external/samples/ConceptTelemetry$1.dex
FtcRobotController/build/.transforms/62d707646dee670261978bb3f2a506c8/transformed/debug/org/firstinspires/ftc/robotcontroller/external/samples/ConceptSoundsSKYSTONE.dex
FtcRobotController/build/.transforms/62d707646dee670261978bb3f2a506c8/transformed/debug/org/firstinspires/ftc/robotcontroller/external/samples/ConceptSoundsSKYSTONE$1.dex
FtcRobotController/build/.transforms/62d707646dee670261978bb3f2a506c8/transformed/debug/org/firstinspires/ftc/robotcontroller/external/samples/ConceptSoundsOnBotJava.dex
FtcRobotController/build/.transforms/62d707646dee670261978bb3f2a506c8/transformed/debug/org/firstinspires/ftc/robotcontroller/external/samples/ConceptSoundsASJava.dex
FtcRobotController/build/.transforms/62d707646dee670261978bb3f2a506c8/transformed/debug/org/firstinspires/ftc/robotcontroller/external/samples/ConceptScanServo.dex
FtcRobotController/build/.transforms/62d707646dee670261978bb3f2a506c8/transformed/debug/org/firstinspires/ftc/robotcontroller/external/samples/ConceptRevSPARKMini.dex
FtcRobotController/build/.transforms/62d707646dee670261978bb3f2a506c8/transformed/debug/org/firstinspires/ftc/robotcontroller/external/samples/ConceptRampMotorSpeed.dex
FtcRobotController/build/.transforms/62d707646dee670261978bb3f2a506c8/transformed/debug/org/firstinspires/ftc/robotcontroller/external/samples/ConceptNullOp.dex
FtcRobotController/build/.transforms/62d707646dee670261978bb3f2a506c8/transformed/debug/org/firstinspires/ftc/robotcontroller/external/samples/ConceptMotorBulkRead.dex
FtcRobotController/build/.transforms/62d707646dee670261978bb3f2a506c8/transformed/debug/org/firstinspires/ftc/robotcontroller/external/samples/ConceptGamepadTouchpad.dex
FtcRobotController/build/.transforms/62d707646dee670261978bb3f2a506c8/transformed/debug/org/firstinspires/ftc/robotcontroller/external/samples/ConceptGamepadRumble.dex
FtcRobotController/build/.transforms/62d707646dee670261978bb3f2a506c8/transformed/debug/org/firstinspires/ftc/robotcontroller/external/samples/ConceptExternalHardwareClass.dex
FtcRobotController/build/.transforms/62d707646dee670261978bb3f2a506c8/transformed/debug/org/firstinspires/ftc/robotcontroller/external/samples/ConceptExploringIMUOrientation.dex
FtcRobotController/build/.transforms/62d707646dee670261978bb3f2a506c8/transformed/debug/org/firstinspires/ftc/robotcontroller/external/samples/ConceptCompassCalibration.dex
FtcRobotController/build/.transforms/62d707646dee670261978bb3f2a506c8/transformed/debug/org/firstinspires/ftc/robotcontroller/external/samples/BasicOpMode_Linear.dex
FtcRobotController/build/.transforms/62d707646dee670261978bb3f2a506c8/transformed/debug/org/firstinspires/ftc/robotcontroller/external/samples/BasicOpMode_Iterative.dex
FtcRobotController/build/.transforms/62d707646dee670261978bb3f2a506c8/transformed/debug/org/firstinspires/ftc/robotcontroller/external/samples/BasicOmniOpMode_Linear.dex
FtcRobotController/build/.transforms/62d707646dee670261978bb3f2a506c8/transformed/debug/com/qualcomm/ftcrobotcontroller/BuildConfig.dex
FtcRobotController/build/.transforms/62d707646dee670261978bb3f2a506c8/results.bin
FtcRobotController/build/.transforms/39e375252f6304db8e3c8cc068823870/results.bin
.idea/misc.xml
.gradle/file-system.probe
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/7.4.2/fileHashes/resourceHashesCache.bin
.gradle/7.4.2/fileHashes/fileHashes.lock
.gradle/7.4.2/fileHashes/fileHashes.bin
.gradle/7.4.2/executionHistory/executionHistory.lock
.gradle/7.4.2/executionHistory/executionHistory.bin
